[Unit]
Description=Idle Manager for Wayland
Documentation=man:swayidle(1)
Requires=sway.service
After=sway.service
BindsTo=sway-session.target

[Service]
Type=simple
ExecStart=swayidle -w
Slice=session.slice

[Install]
WantedBy=sway-session.target
