[Unit]
Description=Sway Window manager
Documentation=man:sway(5)
PartOf=graphical-session.target
Wants=graphical-session-pre.target
After=graphical-session-pre.target

[Service]
Slice=session.slice
Type=simple
ExecStart=sway
ExecStop=systemctl --user unset-environment XDG_CURRENT_DESKTOP WAYLAND_DISPLAY
Restart=on-failure
RestartSec=1
TimeoutStopSec=10
