[Unit]
Description=Get Weather
PartOf=graphical-session.target

[Service]
Type=oneshot
ExecStart=/home/hugo/.local/bin/weather Toulouse

[Install]
WantedBy=sway-session.target
