[Unit]
Description=Get Weather
BindsTo=sway-session.target

[Service]
Slice=session.slice
Type=oneshot
ExecStart=/home/hugo/.local/bin/weather Toulouse

[Install]
WantedBy=sway-session.target
