[Unit]
Description=Get Weather
After=network.target

[Service]
Type=oneshot
ExecStart=/home/hugo/.local/bin/weather Mont-Saint-Aignan

[Install]
WantedBy=default.target
