[Unit]
Description=Get Weather
After=sway.service
BindsTo=sway-session.target

[Service]
Type=oneshot
ExecStart=/home/hugo/.local/bin/weather Toulouse
Slice=session.slice

[Install]
WantedBy=sway-session.target
