[Unit]
Description=Get Weather
Requires=sway.service
After=sway.service
PartOf=sway.service
BindsTo=sway-session.target

[Service]
Type=oneshot
ExecStart=/home/hugo/.local/bin/weather Toulouse
Slice=session.slice

[Install]
WantedBy=sway-session.target resume.target
