/bureau/*
/documents/*
/images/*
/modeles/*
/musique/*
/public/*
/projets/*
/videos/*
/telechargements/*

/.armagetronad/*
/.cache/*
/.cargo/*
/.gnupg/*
/.mozilla/*
/.newsboat/*
/.npm/*
/.pki/*
/.rustup/*
/.ssh/*
/.vim/*

/.bash_*
/.bashrc
/.identity
/.lesshst
/.viminfo

/.config/chromium/
/.config/dconf/
/.config/gtk-3.0/
/.config/htop/
/.config/libreoffice/
/.config/mimeapps.list
/.config/neofetch/
/.config/pavucontrol.ini
/.config/procps/
/.config/pulse/
/.config/Signal/
/.config/weechat/
/.config/org.encroissant.app
/.config/QtProject.conf
/.config/vlc/
/.config/whoozle.github.io/

/.local/*
!/.local/bin/
/.local/bin/encr
