/bureau/*
/documents/*
/images/*
/modeles/*
/musique/*
/public/*
/videos/*
/telechargements/*

/.armagetronad/*
/.cache/*
/.cargo/*
/.mozilla/*
/.newsboat/*
/.npm/*
/.pki/*
/.rustup/*
/.ssh/*
/.vim/*

/.bash_*
/.bashrc
/.gitconfig
/.identity
/.lesshst

/.config/dconf/
/.config/gtk-3.0/
/.config/htop/
/.config/libreoffice/
/.config/mimeapps.list
/.config/mpv/
/.config/neofetch/
/.config/pavucontrol.ini
/.config/procps/
/.config/pulse/
/.config/weechat/

/.local/*
!/.local/bin/
